pruebaFinal/force-app/main/default/flows/ConvertLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertirLead</name>
        <label>ConvertirLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CustomLeadConvert</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Lead.Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>Crear_Oportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomLeadConvert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Closed_Converted</name>
        <choiceText>Closed - Converted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Converted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Not_Converted</name>
        <choiceText>Closed - Not Converted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Not Converted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cold</name>
        <choiceText>Cold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cold</stringValue>
        </value>
    </choices>
    <choices>
        <name>FechaDePagoNuevo</name>
        <choiceText>{!Get_Lead.Fecha_de_pago__c}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hot</name>
        <choiceText>Hot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warm</name>
        <choiceText>Warm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X14</name>
        <choiceText>14</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14</stringValue>
        </value>
    </choices>
    <choices>
        <name>X29</name>
        <choiceText>29</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>29</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Actualizar_Fecha_Nacimiento</name>
        <label>¿Actualizar Fecha Nacimiento?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Numero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiUpdatedNacimiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Fecha_de_nacimiento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarNacimiento</targetReference>
            </connector>
            <label>SiUpdatedNacimiento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Actualizar_Numero</name>
        <label>Actualizar Número?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ActualizarSituacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiNumero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarNumero</targetReference>
            </connector>
            <label>SiNumero</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualizarCorreo</name>
        <label>¿ActualizarCorreo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Fecha_Nacimiento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiUpdateEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCorreoAccount</targetReference>
            </connector>
            <label>SiUpdateEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualizarSituacion</name>
        <label>ActualizarSituacion?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ConvertirLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiActualizarSituacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Situacion_Laboral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarSitu</targetReference>
            </connector>
            <label>SiActualizarSituacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Duplicado</name>
        <label>¿Existe Duplicado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Completar_Datos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_Duplicada</targetReference>
            </connector>
            <label>Si existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_cierre</name>
        <label>Tipo de cierre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Poner_Descripci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Desea_convertir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Qu_deseas_hacer_con_este_Lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed_Converted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Opp</targetReference>
            </connector>
            <label>Desea convertir</label>
        </rules>
    </decisions>
    <description>Proceso de Conversión de Lead + Actualización Account + Create Opportunity (se valido la creación, todos los campos, se añadió que es obligatorio colocar description para convertir) Se añadio la columna de no convertir</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>fx_Disponibilidad</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Lead.Disponibilidad_de_retiro__c}, TRUE, {!in_disponibilidadRetiro})</expression>
    </formulas>
    <formulas>
        <name>fx_FechaPago</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!Get_Lead.Fecha_de_pago__c}), {!in_FechaPago})</expression>
    </formulas>
    <formulas>
        <name>fx_NombreOpp</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.FirstName} + &quot; &quot; + {!Get_Lead.LastName} + &quot; &quot; + TEXT({!Get_Lead.Tipo_de_Tarjeta__c})+ &quot; &quot; +TEXT({!Get_Lead.Segmento_de_Tarjeta__c})</expression>
    </formulas>
    <formulas>
        <name>fx_Rating</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!Get_Lead.Rating}), {!in_ratingLead})</expression>
    </formulas>
    <interviewLabel>ConvertLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConvertLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Oportunidad</name>
        <label>Crear Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ActualizarCorreo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Lead.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente_Apto__c</field>
            <value>
                <elementReference>Get_Lead.Cliente_Apto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formulaCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disponibilidad_de_retiro__c</field>
            <value>
                <elementReference>in_disponibilidadRetiro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_pago__c</field>
            <value>
                <elementReference>fx_FechaPago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ingreso_Mensual__c</field>
            <value>
                <elementReference>Get_Lead.Ingreso_Mensual__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linea_de_credito_solicitada__c</field>
            <value>
                <elementReference>Get_Lead.Linea_de_Credito_Solicitada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_NombreOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>fx_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segmento_de_tarjeta__c</field>
            <value>
                <elementReference>Get_Lead.Segmento_de_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacion_laboral__c</field>
            <value>
                <elementReference>Get_Lead.Situacion_Laboral__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>in_StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta__c</field>
            <value>
                <elementReference>Get_Lead.Tipo_de_Tarjeta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Duplicate_Opp</name>
        <label>Get Duplicate Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Duplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_tarjeta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Tipo_de_Tarjeta__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Segmento_de_tarjeta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Segmento_de_Tarjeta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccionar_Accion_de_Cierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarCorreoAccount</name>
        <label>ActualizarCorreoAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Fecha_Nacimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarNacimiento</name>
        <label>ActualizarNacimiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Numero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_nacimiento__c</field>
            <value>
                <elementReference>Get_Lead.Fecha_de_nacimiento__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarNumero</name>
        <label>ActualizarNumero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ActualizarSituacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizarSitu</name>
        <label>ActualizarSitu</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConvertirLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Situacion_Laboral__c</field>
            <value>
                <elementReference>Get_Lead.Situacion_Laboral__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>No_convertir_lead</name>
        <label>No convertir lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Descripci_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Completar_Datos</name>
        <label>Completar Datos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmaci_n</targetReference>
        </connector>
        <fields>
            <name>Completar_Datos_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Completar_Datos_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CamposLead</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nombre:&lt;/strong&gt; {!fx_NombreOpp}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Cuenta:&lt;/strong&gt; {!Get_Lead.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tipo de tarjeta:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.Tipo_de_Tarjeta__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Segmento de tarjeta:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.Segmento_de_Tarjeta__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ingreso Mensual:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.Ingreso_Mensual__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Línea de crédito solicitada:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.Linea_de_Credito_Solicitada__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Situación laboral:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.Situacion_Laboral__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Cliente Apto:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Get_Lead.Cliente_Apto__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Completar_Datos_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>in_StageName</name>
                    <choiceReferences>Open</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status Opportunity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>in_FechaDePago</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Fecha de Pago:&lt;/strong&gt; {!Get_Lead.Fecha_de_pago__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Lead.Fecha_de_pago__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>rating</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Rating:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Get_Lead.&lt;/span&gt;&lt;span style=&quot;background-color: rgb(243, 243, 243);&quot;&gt;Rating&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Lead.Rating</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>in_FechaPago</name>
                    <choiceReferences>X14</choiceReferences>
                    <choiceReferences>X29</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fecha de Pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Lead.Fecha_de_pago__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>in_disponibilidadRetiro</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Disponibilidad de retiro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>in_ratingLead</name>
                    <choiceReferences>Cold</choiceReferences>
                    <choiceReferences>Warm</choiceReferences>
                    <choiceReferences>Hot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Lead.Rating</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!Get_Lead.Description}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmaci_n</name>
        <label>Confirmación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Oportunidad</targetReference>
        </connector>
        <fields>
            <name>mensajeConfirmacion</name>
            <fieldText>&lt;p&gt;Por favor confirme que la información es correcta. Al continuar, se creará la Oportunidad para &lt;strong&gt;{!fx_NombreOpp}&lt;/strong&gt; en la etapa &lt;strong&gt;{!in_StageName}&lt;/strong&gt; y se convertirá definitivamente el prospecto.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oportunidad_Duplicada</name>
        <label>Oportunidad Duplicada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeOppDuplicada</name>
            <fieldText>&lt;p&gt;Ya existe una oportunidad abierta en esta cuenta con el mismo Tipo y Segmento. No se puede convertir.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Poner_Descripci_n</name>
        <label>Poner Descripción</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_convertir_lead</targetReference>
        </connector>
        <fields>
            <name>Descripci_n</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Description}</stringValue>
            </defaultValue>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccionar_Accion_de_Cierre</name>
        <label>Seleccionar Acción de Cierre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tipo_de_cierre</targetReference>
        </connector>
        <fields>
            <name>Qu_deseas_hacer_con_este_Lead</name>
            <choiceReferences>Closed_Converted</choiceReferences>
            <choiceReferences>Closed_Not_Converted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Qué deseas hacer con este Lead?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
